[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib
[submodule "lib/vorbis"]
	path = lib/vorbis
	url = https://github.com/xiph/vorbis
[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "lib/theora"]
	path = lib/theora
	url = https://github.com/xiph/theora
